.container {
    margin: 0 auto;
    max-width: 1600px;
}

/* HEADER */

.header {
    display: flex;
    background: #fff8ff88;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999999999999999;
}

.header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header__logo-link {
    width: clamp(5rem, 3.438rem + 4.167vw, 7.188rem);
    transition: .3s;
}

.header__logo-link:hover {
    scale: 1.05;
    filter: drop-shadow(0 0 .5rem var(--dorado-suave-color));
}

.header__logo-figure {
    width: 100%;
}

.header__nav {
    display: grid;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item {
    margin: 0 1rem;
}

.header__nav-link {
    border: var(--plateado-oscuro-color) solid 2px;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: var(--plateado-claro-color);
    transition: .3s;
}

.header__nav-link:hover {
    border: var(--dorado-suave-color) solid 2px;
    background: var(--dorado-suave-color);
    color: white;
    box-shadow: 0 0 .5rem var(--dorado-suave-color);
}

/* From Uiverse.io by talhabangyal */
.hamburger {
    cursor: pointer;
    display: none;
}

.menu-toggle {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3.7rem;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition:
        stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

#menu-toggle:checked~.hamburger .line {
    stroke: var(--rojo-vino-color);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

#menu-toggle:checked~.hamburger svg {
    transform: rotate(-45deg);
}

#menu-toggle:checked~.hamburger .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

@media (max-width: 975px) {
    .header__container {
        padding: 0 1.2rem;
    }

    .header__nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff8ff88;
        padding: 1rem 0;
        z-index: 9999;
    }

    .header__nav-link {
        width: 100%;
        display: block;
        border-radius: 0;
        padding: 0.5rem 0;
    }

    #menu-toggle:checked~.header__nav {
        display: block;
    }

    .header__nav-list {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header__nav-item {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .hamburger {
        display: grid;
        place-items: center;
    }
}

/* BANNER */

.presentacion {
    background-image: url('../img/background/Desktop-Tales-Of-Vesperian-3840x2160.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    mask-image: linear-gradient(black 98%, transparent);
}

@media (max-width: 900px) {
    .presentacion {
        background-image: url('../img/background/Tablet-Tales-Of-Vesperia-600x903.webp');
    }
}

@media (max-width: 600px) {
    .presentacion {
        background-image: url('../img/background/Iphone-Tales-Of-Vesperian.webp');
    }
}

/* MAIN */

.main-content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-top: 2rem;
}

.main-content__section {
    padding: 0 2rem;
}

.main-content__section h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: clamp(1.7625rem, 1.4367rem + 1.4894vw, 2.2rem);
}

.main-content__section--introduction {
    margin: 2rem 0 0 0;
}

.main-content__section--contact {
    margin: 0 0 2rem 0;
}

.main-content__text,
.main-content__list {
    font-size: clamp(1rem, 0.7965rem + 0.9302vw, 1.25rem);
}

/* INTRODUCCIÓN */

#introduction .main-content__text {
    margin: 1rem 0;
}

#introduction .main-content__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.2rem;
    margin-top: 3rem;
}

@media (max-width: 600px) {
    #introduction .main-content__section--introduction .main-content__list {
        justify-content: center;
        gap: 2rem;
    }
}

#introduction .main-content__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    min-width: 200px;
}

#introduction .main-content__list-item figure {
    width: 4rem;
}

#introduction .main-content__list-item span {
    text-align: center;
}

/* FEACTURES */

#feacture .main-content__article {
    margin: 1.5rem 0;
    width: 45%;
}

#feacture .main-content__article h3 {
    font-size: clamp(1.25rem, 1.0638rem + 0.8511vw, 1.5rem);
}

#feacture .main-content__video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 1000px;
    /* Opcional: limitar el ancho máximo */
    margin: 0 auto;
}

#feacture .main-content__video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#feacture .main-content__articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* CHARACTERS */

#character .main-content__article {
    max-width: 400px;
    min-width: 250px;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
    align-items: start;
    height: fit-content;
    padding: 1rem;
}

#character .main-content__meta {
    color: gray;
    margin: 0;
}

#character .main-content__characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#character .character-content .main-content__text {
    padding: 0.5rem;
    font-size: clamp(0.875rem, 0.7965rem + 0.4651vw, 1rem);
    color: var(--plateado-claro-color);
}

#character .character-toggle {
    display: none;
}

#character .character-toggle-container {
    background: var(--azul-oscuro-color);
    border-radius: 0 0 0.5rem 0.5rem;
}

#character .character-content .main-content__text {
    display: none;
}

#character .character-toggle:checked~.character-content .main-content__text {
    display: block;
}

#character .character-btn {
    width: 100%;
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--plateado-claro-color);
    border: 2px solid var(--plateado-oscuro-color);
    border-radius: 0 0 0.5rem 0.5rem;
    font-family: var(--texto-parrafo);
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
}

#character .character-btn:hover {
    background-color: var(--dorado-suave-color);
    border-color: var(--dorado-suave-color);
    color: white;
    box-shadow: 0 0 0.5rem var(--dorado-suave-color);
}

#character .character-toggle:not(:checked)~.character-btn::after {
    content: "Mostrar descripción";
}

#character .character-toggle:checked~.character-btn::after {
    content: "Ocultar descripción";
}

/* GALLERY */

#gallery .gallery {
    height: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
    flex-wrap: nowrap;
}

#gallery .gallery img {
    transition: flex 0.5s, filter 0.5s;
    height: 100%;
    filter: grayscale(1) brightness(0.75);
    object-fit: cover;
    overflow: hidden;
    flex: 1;
}

#gallery .gallery img:hover {
    filter: grayscale(0) brightness(1.15);
    flex: 6;
}

/* Estilos responsive para la galería */
@media (max-width: 975px) {
    #gallery .gallery {
        height: auto;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #gallery .gallery img {
        height: 200px;
        width: 45%;
        flex: none;
        border-radius: 8px;
        transition: filter 0.5s, transform 0.3s;
    }

    #gallery .gallery img:hover,
    #gallery .gallery img:active {
        filter: grayscale(0) brightness(1.15);
        transform: scale(1.05);
        flex: none;
    }
}

@media (max-width: 600px) {
    #gallery .gallery {
        flex-direction: column;
        height: auto;
    }

    #gallery .gallery img {
        width: 100%;
        height: 250px;
        margin-bottom: 1rem;
    }
}

/* CONTACT */

#contact .main-content__form {
    display: grid;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

#contact .form__row {
    display: flex;
    justify-content: space-between;
}

#contact .form__row .form__field {
    width: 48%;
}

#contact .form__field {
    display: grid;
}

#contact .form__label {
    margin-bottom: .25rem;
    font-size: clamp(14px, 0.7819rem + 0.4255vw, 16px);
}

@media (max-width: 600px) {
    #contact .form__row {
        flex-direction: column;
        gap: 1rem;
    }

    #contact .form__row .form__field {
        width: 100%;
    }
}

#contact .form__input,
#contact .form__textarea {
    padding: .5rem;
    font-size: clamp(0.875rem, 0.7819rem + 0.4255vw, 1rem);
    border: var(--plateado-oscuro-color) solid 2px;
    border-radius: 0.5rem;
    transition: .3s;
}

#contact .form__button {
    margin-top: .5rem;
    padding: .5rem 1rem;
    font-size: clamp(1.0125rem, 0.9101rem + 0.4681vw, 1.15rem);
    border: var(--plateado-oscuro-color) solid 2px;
    border-radius: 0.5rem;
    background: var(--plateado-claro-color);
    font-family: var(--texto-parrafo);
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1.25rem 0;
    padding: 0 2rem;
}

.footer__figure {
    max-width: 250px;
    max-height: 300px;
    border-radius: 2.5rem;
    overflow: hidden;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__email:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
    }
}