.container {
    margin: 0 auto;
    max-width: 1600px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    background: #fff8ff88;
    position: sticky;
    top: 0;
    z-index: 99999999999999999999999;
}

.header__logo-link {
    width: 115px;
    transition: .3s;
}

.header__logo-link:hover {
    scale: 1.05;
    filter: drop-shadow(0 0 .5rem var(--dorado-suave-color));
}

.header__nav {
    display: grid;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item {
    margin: 0 1rem;
}

.header__nav-link {
    border: var(--plateado-oscuro-color) solid 2px;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: var(--plateado-claro-color);
    transition: .3s;
}

.header__nav-link:hover {
    border: var(--dorado-suave-color) solid 2px;
    background: var(--dorado-suave-color);
    color: white;
    box-shadow: 0 0 .5rem var(--dorado-suave-color);
}

/* BANNER */

.presentacion {
    background-image: url('../img/banner_1.webp');
    background-size: cover;
    height: 100dvh;
    width: 100%;
    mask-image: linear-gradient(transparent, black 15%, black 85%, transparent);
}

/* MAIN */

.main-content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.main-content__section {
    padding: 0 2rem;
}

.main-content__section h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: clamp(1.7625rem, 1.4367rem + 1.4894vw, 2.2rem);
}

.main-content__section--introduction {
    margin: 2rem 0 0 0;
}

.main-content__section--contact {
    margin: 0 0 2rem 0;
}

.main-content__text,
.main-content__list {
    font-size: clamp(1rem, 0.7965rem + 0.9302vw, 1.25rem);
}

/* INTRODUCCIÓN */

.main-content__section--introduction .main-content__text {
    margin: 1rem 0;
}

.main-content__section--introduction .main-content__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

.main-content__section--introduction .main-content__list .main-content__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content__section--introduction .main-content__list .main-content__list-item figure {
    width: 4rem;
}

/* FEACTURES */

.main-content__article {
    margin: 1.5rem 0;
    width: 45%;
}

.main-content__article h3 {
    font-size: clamp(1.25rem, 1.0638rem + 0.8511vw, 1.5rem);
}

.main-content__video-container {
    display: grid;
    place-items: center;
}

.main-content__articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* CHARACTERS */

.main-content__article {
    max-width: 400px;
    min-width: 250px;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
    align-items: start;
    height: fit-content;
    padding: 1rem;
}

.main-content__meta {
    color: gray;
    margin: 0;
}

.main-content__characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* CONTACT */

.main-content__form {
    display: grid;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.form__row {
    display: flex;
    justify-content: space-between;
}

.form__row .form__field {
    width: 48%;
}

.form__field {
    display: grid;
}

.form__label {
    margin-bottom: .25rem;
    font-size: clamp(14px, 0.7819rem + 0.4255vw, 16px);
}

@media (max-width: 600px) {
    .form__row {
        flex-direction: column;
        gap: 1rem;
    }

    .form__row .form__field {
        width: 100%;
    }
}

.form__input,
.form__textarea {
    padding: .5rem;
    font-size: clamp(0.875rem, 0.7819rem + 0.4255vw, 1rem);
    border: var(--plateado-oscuro-color) solid 2px;
    border-radius: 0.5rem;
    transition: .3s;
}

.form__button {
    margin-top: .5rem;
    padding: .5rem 1rem;
    font-size: clamp(1.0125rem, 0.9101rem + 0.4681vw, 1.15rem);
    border: var(--plateado-oscuro-color) solid 2px;
    border-radius: 0.5rem;
    background: var(--plateado-claro-color);
    font-family: var(--texto-parrafo);
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1.25rem;
}

.footer__figure {
    width: 250px;
    height: 300px;
    border-radius: 2.5rem;
    overflow: hidden;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__email:hover {
    text-decoration: underline;
}