:root {
    --blanco-color: #fff8ff;
    --negro-color: #0f0f0f;
    --azul-oscuro-color: #243E6D;
    --dorado-intenso-color: #C7A248;
    --dorado-suave-color: #D9C178;
    --plateado-claro-color: #E4E6E5;
    --plateado-oscuro-color: #A8AFC8;
    --rojo-vino-color: #8C2F39;
    --verde-esmeralda-color: #3B6E58;

    --texto-titulo: "Cinzel", serif;
    --texto-parrafo: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    background: var(--blanco-color);
    color: var(--negro-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--texto-titulo);
}

p,
a,
li,
span {
    font-family: var(--texto-parrafo);
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

input,
textarea {
    border: none;
    outline: none;
}

input,
textarea,
label {
    font-family: var(--texto-parrafo);
}

textarea {
    resize: none;
}